{% extends "layout.html" %}

{% block corpo %}

{% if session.logado%}
<form action="{{url_for('inserir_posts')}}" method="POST" class="inserir-post">
<dl>

    <dt>Título:
        <dd><input type="text" name="titulo" size="30"></dd>
    </dt>

    <dt>Texto:
        <dd><textarea name="texto" cols="40" rows="5"></textarea></dd>
        <dd><input type="submit" value="Publicar"></dd>
    </dt>

</dl>
</form>
{% endif %}

<ul class="posts">

    {% for post in post %}
    <li>
        <h2>{{post.titulo}}</h2>
        {{post.texto}}
        {{post.data_criacao}}
    </li>
    {% else %}
    <li>
        <em>Ainda não existem posts neste blog</em>
    </li>
    {% endfor %}

</ul>
{% endblock %}