<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site bunito</title>
</head>
<body>

    {% for i in nome%}
    <h1>
        Olá
        {% if not i %}
        Usuário,
        {% else %}
        {{i}},
        {% endif%}
        seja bem vinde!
    </h1>
    {% endfor %}

    <br>

    {% for post in posts %}
    <h2>{{post.titulo}}</h2>
    <h3>{{post.texto}}</h3>
    <strong><p>{{post.data_criacao}}</p></strong>
    <br>
    {% endfor %}
        
    


    <p>Você parece tenso, olhe esse gatinho:</p>

    <img src="https://www.patasdacasa.com.br/sites/default/files/inline-images/meme-gato-sorrindo.jpg" alt="gato sorrindo">

    <br>
    <a href="https://www.pudim.com.br/" target="_blank">Clique aqui para ser heackeado!</a>

</body>
</html>