<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site bunito</title>
</head>
<body>

    <style>

        body{
            background-color: palevioletred;
        }

        a{
            color: red;
            font-size: 20px;
        }

    </style>

    <h1>Olá usuário!</h1>
    <p>Você parece tenso, olhe esse gatinho:</p>

    <img src="https://www.patasdacasa.com.br/sites/default/files/inline-images/meme-gato-sorrindo.jpg" alt="gato sorrindo">

    <br>
    <a href="https://github.com/raquelfrancaa/WebPythonOcean">Clique aqui para ser heackeado!</a>
</body>
</html>